.FrogetPasswordPage .icon{
    padding-right: 15px;
}
.FrogetPasswordPage .btnlog{
    margin-bottom: 5%;
    border-radius: 10px;
}
.FrogetPasswordPage .Or{
    margin-bottom: 0.5rem;
}
.FrogetPasswordPage .col-12{
    margin-bottom: 1rem;
}
.FrogetPasswordPage .col-12 .form-label{
    margin: 0.2rem;
}
.col-12 .fcup::placeholder{
    /* font-size: 14px; */
    font-weight: 100;
}
.FrogetPasswordPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.FrogetPasswordPage .fcup{
    border-radius: 10px;
    font-weight: 100;
    color: #F4F2F4;
    font-size: small;
}
.FrogetPasswordPage p{
    margin-bottom: 0;
}
.FrogetPasswordPage .col-12 .error-msg{
    color:red;
    font-size: small;
}
.FrogetPasswordPage .d-flex{
    margin-top: 7%;
}
.FrogetPasswordPage .authenticationFooter{
    bottom: 0;
}
@media only screen and (max-width:768px){
    .FrogetPasswordPage .col-4{
        width: 50%;
    }
   
}
@media only screen and (max-width:514px){
    .FrogetPasswordPage .col-4{
        width: 83%;
    }
    .chcklbl{
        font-size: 14px;
    }
    .terms-conditions{
        display: flex;
        flex-direction: row;
    }
}
