.admin0Template .wrapperAdmin {
  display: flex;
  padding: 3%;
  padding-bottom: 0;
}
.admin0Template #contentAdmin {
  width: 100%;
  margin-left: 36px;
}
.admin0Template .admin-page-title {
  background-color: #fff;
}
.admin0Template .admin-page-title .row {
  padding: 18px;
}
.admin0Template .admin-page-title .row h4 {
  margin-bottom: 0;
  /* DEFAULT STYLES END */
}
