/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sideNavBar .wrapper {
  display: flex;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  width: 70%;
  align-items: stretch;
}

.sideNavBar #sidebar {
  border-radius: 5px;
  min-width: 250px;
  max-width: 250px;
  /* max-height: 360px;
  min-height: 360px; */
  background: #fff;
  color: #000;
  transition: all 0.3s;
}

.sideNavBar .premium {
  margin-left: -15px;
  border-radius: 5px;
  width: 250px;
  height: 120px;
  background: #fff;
  color: #000;
  transition: all 0.3s;
  font-size: 1em;
  cursor: pointer;
}

.sideNavBar .content-top {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.sideNavBar .content-pre {
  padding-left: 15px;
  padding-right: 15px;
}

.sideNavBar #sidebar.active {
  background: #fff;
}

.sideNavBar #sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sideNavBar #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sideNavBar #sidebar ul li a:hover {
  cursor: pointer;
  color: #8427e2;
  background: #fff;
}

.sideNavBar #sidebar ul li.activesb > a,
.sideNavBar a[aria-expanded="true"] {
  border-radius: 25px;
  color: #000;
  background: #e8e8e8;
}

.sideNavBar a[data-toggle="collapse"] {
  position: relative;
}

.sideNavBar .icon-theme {
  padding-right: 15px;
  color: #8427e2;
}

.sideNavBar .icon-pre {
  font-size: 1.5em;
  padding-left: 15px;
  color: #ffd233;
}

.sideNavBar .para {
  font-size: 0.9em;
}

/*
a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.sideNavBar #content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sideNavBar #sidebar {
    margin-left: -280px;
  }

  .sideNavBar #sidebar.active {
    margin-left: 0;
  }

  .sideNavBar #sidebarCollapse span {
    display: none;
  }
}
