body{
    background-color: rgba(244, 242, 244, 1) !important;
}

.card{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.title{
    padding-bottom: 5%;
}

.form-control{
    margin-bottom: 5%;
    border-radius: 10px;
}

.theme{
    color: rgba(132, 39, 226, 1);
}

.btnlog{
    margin-bottom: 5%;
    border-radius: 10px;
}

.signup{
    margin-top: 5%;
}

.icon{
    padding-right: 15px;
}

.chcklbl{
    padding-left: 5%;
}