.SignUpCreatorPage .icon{
    padding-right: 15px;
}
.SignUpCreatorPage .btnlog{
    margin-bottom: 5%;
    border-radius: 10px;
}
.SignUpCreatorPage .Or{
    margin-bottom: 0.5rem;
}
.SignUpCreatorPage .col-12, .SignUpCreatorPage2 .col-12{
    margin-bottom: 1rem;
}
.SignUpCreatorPage .col-12 .form-label{
    margin: 0.2rem;
}
.SignUpCreatorPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.SignUpCreatorPage p{
    margin-bottom: 0;
}
.SignUpCreatorPage .col-12 .error-msg,.SignUpCreatorPage2 .col-12 .error-msg{
    color:red;
    font-size: small;
}
.SignUpCreatorPage .col-12 .fcup,.SignUpCreatorPage2 .col-12 .fcup{
    border-radius: 10px;
    font-weight: 100;
    color: #F4F2F4;
    font-size: small;
}
.SignUpCreatorPage .wallet {
    background-color: rgba(51, 255, 148, 1);
    color: rgb(0, 0, 0);
}

.SignUpCreatorPage .wallet:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 255, 148, 1);
    border: 1px solid rgba(51, 255, 148, 1);
}
.SignUpCreatorPage2 .d-flex{
    margin-top: 11%;
}
.SignUpCreatorPage2 .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.SignUpCreatorPage2 .col-12 .wallet{
    background-color: var(--green-50);
    color: black;
}

@media only screen and (max-width:768px){
    .SignUpCreatorPage .col-4, .SignUpCreatorPage2 .col-4{
        width: 50%;
    }
}
@media only screen and (max-width:514px){
    .SignUpCreatorPage .col-4, .SignUpCreatorPage2 .col-4{
        width: 83%;
    }
    .checklbl{
        font-size: 14px;
    }
    .terms-conditions{
        display: flex;
        flex-direction: row;
    }
}
