.transactionAdmin0Page .date-picker-date {
  width: 12rem;
  height: 2.5rem;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 15px;
  padding-right: 50px;
  /* margin: 10px; */
  cursor: pointer;
  border-style: solid;
  background: url("https://image.freepik.com/free-icon/calendar-icon-in-black_318-9776.jpg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 9.6rem 0.4rem;
}

.transactionAdmin0Page #contentAdmin .date-card {
  margin-top: 36px;
  margin-bottom: 36px;
}
/* .transactionAdmin0Page .row {
  padding: 15px;
} */

.transactionAdmin0Page .column-container {
  position: relative;
}

.transactionAdmin0Page .column-container button {
  margin-top: 6px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.transactionAdmin0Page table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
}
.transactionAdmin0Page table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}
.transactionAdmin0Page table th {
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 600;
}
.transactionAdmin0Page table td {
  padding: 1rem 2rem;
}

.transactionAdmin0Page table .idStyle {
  text-decoration: none;
  color: #2962ff;
}
.transactionAdmin0Page table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}
.transactionAdmin0Page table .status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}
.transactionAdmin0Page table .status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}
.transactionAdmin0Page table .status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}
.transactionAdmin0Page table .amount {
  text-align: right;
}
.transactionAdmin0Page table tr:nth-child(even) {
  background-color: #f4f6fb;
}

.transactionAdmin0Page .date-card .row {
  padding-bottom: 10px;
}

.transactionAdmin0Page .calander-card {
  display: inline;
}

/* .transactionAdmin0Page .input-group {
  width: 40%;
} */

.transactionAdmin0Page .calander-card-col {
  display: flex;
  flex-direction: row;
}

.transactionAdmin0Page .calander-card-col .calander-card {
  margin-right: 36px;
}

.transactionAdmin0Page .column-container .btn-primary {
  background: var(--green-50);
  border-color: var(--green-50);
  color: var(--black);
}
