.ExternalSignUpPasswordPage .icon{
    padding-right: 15px;
}
.ExternalSignUpPasswordPage .btnlog{
    margin-bottom: 5%;
    border-radius: 10px;
}
.ExternalSignUpPasswordPage .title{
    margin-bottom: 15px;
}
.join-with-google-apple_content{
   display: flex;
   flex-direction: row;
   margin: 8px 0 15px 0;
   align-items: center;
}
.join-with-google-apple_photo{
    width: 30px;
    height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
}
.join-with-google-apple_info{
     min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 8px 0 12px; 
    font-size: 14px;
}
.join-with-google-apple_info-name{
    /* font-size: 1.4rem; */
    line-height: 1.42857;
    font-weight: 500;
}
.join-with-google-apple_info-email{
    /* font-size: 1.4rem; */
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.join-with-google-apple_content .theme{
    text-decoration: none;
    margin-right: -20px;
    /* padding: 20px 0 5px 0; */
}
.ExternalSignUpPasswordPage .col-12{
    margin-bottom: 1rem;
}
.ExternalSignUpPasswordPage .col-12 .form-label{
    margin: 0.2rem;
    font-size: 14px;
}
.col-12 .fcup::placeholder{
    /* font-size: 14px; */
    font-weight: 100;
}
.ExternalSignUpPasswordPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.ExternalSignUpPasswordPage .fcup{
    border-radius: 10px;
    font-weight: 100;
    color: #F4F2F4;
    font-size: small;
}
.ExternalSignUpPasswordPage p{
    margin-bottom: 0;
}
.ExternalSignUpPasswordPage .col-12 .error-msg{
    color:red;
    font-size: small;
}
.ExternalSignUpPasswordPage .d-flex{
    margin-top: 7%;
}
/* .help-privacy-terms{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 24px;
    margin-top: -40px;
    font-size: 14px;
    cursor: pointer;
}
.help-privacy-terms .link{
    color: var(--black);
    text-decoration: none;
}
.help-privacy-terms .link:hover{
    color: var( --green-50);
}
@media only screen and (max-width:1000px){
    .help-privacy-terms{
        margin-top: -20px;
    }
} */
@media only screen and (max-width:768px){
    .ExternalSignUpPasswordPage .col-4{
        width: 50%;
    }
   
}
@media only screen and (max-width:514px){
    .ExternalSignUpPasswordPage .col-4{
        width: 83%;
    }
    .chcklbl{
        font-size: 14px;
    }
    .terms-conditions{
        display: flex;
        flex-direction: row;
    }
    /* .help-privacy-terms{
        font-size: 10px;
    } */
}
