.listcd{
    padding: 10px;
    cursor:default;
}
.listcd .bi-check{
    font-weight: 300;
    font-size: 14px;
}

.btn-signup{
    margin-top: 5%;
}

.theme-title{
    color: rgba(132, 39, 226, 1);
}