/* .createPostInput{
    display:flex;
    justify-content:space-between;
}

.inputLablesCreate{
    background-color:var(--primary-100);
    color:var(--white);
    border-radius:10px !important;
    margin:0;
}

.inputLablesCreate:hover{
   cursor:pointer;
}
.createPostLable{
    padding-right:10px;
} */
    .createPost-box{
        box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    }

  .status-menu {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .status-menu-item {
    text-decoration: none;
    color: #ccc8db;
    padding: 10px 14px;
    line-height: 0.7;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border-radius: 20px;
  }
  .status-menu-item.active, .status-menu-item:hover {
    background-color: var(--white);
    /* color: #fff; */
  }
  .status-menu-item + .status-menu-item {
    margin-left: 10px;
  }
  @media screen and (max-width: 500px) {
    .status-menu {
      font-size: 14px;
    }
    .status-menu-item + .status-menu-item {
      margin-left: 0;
    }
  }
  
  .status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .create-status-main {
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .status-textarea {
    flex-grow: 1;
    background-color: var(--bs-gray-400);
    border: none;
    resize: none;
    /* margin-top: 15px; */
    color: #fff;
    max-width: calc(100% - 70px);
    border-radius: 5px;
    /* line-height: 10px; */
  }
  .status-textarea::placeholder {
    color: #5c5d71;
  }
  
  .status-actions {
    display: flex;
    padding: 10px 20px;
  }
  
  .status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .status-action svg {
    width: 16px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  @media screen and (max-width: 1320px) {
    .status-action {
      width: 16px;
      overflow: hidden;
      color: transparent;
      white-space: nowrap;
    }
  }
  
  .status-share {
    background-color: #1b86f9;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 20px #1b86f9;
    cursor: pointer;
  }