/* .createPostInput{
    display:flex;
    justify-content:space-between;
}

.inputLablesCreate{
    background-color:var(--primary-100);
    color:var(--white);
    border-radius:10px !important;
    margin:0;
}

.inputLablesCreate:hover{
   cursor:pointer;
}
.createPostLable{
    padding-right:10px;
} */
.CreatePost .dropzone, .CreatePost .dropzone * {
  box-sizing: border-box;
}
.CreatePost .dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}
.CreatePost .dropzone.dz-clickable {
  cursor: pointer;
}
.CreatePost .dropzone.dz-clickable * {
  cursor: default;
}
.CreatePost .dropzone.dz-clickable .dz-message, .CreatePost .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.CreatePost .dropzone.dz-started .dz-message {
  display: none;
}
.CreatePost .dropzone.dz-drag-hover {
  border-style: solid;
}
.CreatePost .dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.CreatePost .dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.CreatePost .dropzone .dz-message .dz-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.CreatePost .dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.CreatePost .dropzone .dz-preview:hover {
  z-index: 1000;
}
.CreatePost .dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.CreatePost .dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.CreatePost .dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.CreatePost .dropzone .dz-preview.dz-image-preview {
  background: white;
}
.CreatePost .dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.CreatePost .dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.CreatePost .dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.CreatePost .dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.CreatePost .dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.CreatePost .dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.CreatePost .dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.CreatePost .dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.CreatePost .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.CreatePost .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.CreatePost .dropzone .dz-preview .dz-details .dz-filename span, .CreatePost .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.CreatePost .dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.CreatePost .dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.CreatePost .dropzone .dz-preview .dz-image img {
  display: block;
}
.CreatePost .dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.CreatePost .dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.CreatePost .dropzone .dz-preview .dz-success-mark, .CreatePost .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.CreatePost .dropzone .dz-preview .dz-success-mark svg, .CreatePost .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.CreatePost .dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.CreatePost .dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.CreatePost .dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.CreatePost .dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.CreatePost .dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.CreatePost .dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
.CreatePost .dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.CreatePost .dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.CreatePost .dropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

/* drop zone ends */

    .createPost-box{
        box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    }

  .status-menu {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .status-menu-item {
    text-decoration: none;
    color: #ccc8db;
    padding: 10px 14px;
    line-height: 0.7;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border-radius: 20px;
  }
  .status-menu-item.active, .status-menu-item:hover {
    background-color: var(--white);
    /* color: #fff; */
  }
  .status-menu-item + .status-menu-item {
    margin-left: 10px;
  }
  @media screen and (max-width: 500px) {
    .status-menu {
      font-size: 14px;
    }
    .status-menu-item + .status-menu-item {
      margin-left: 0;
    }
  }
  
  .status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .create-status-main {
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .status-textarea:hover {
    background: var(--white);
  color: var(--primary-100);
  border: 1px solid var(--primary-100);
}
  
 .status-textarea {
    flex-grow: 1;
    background-color: var(--primary-100);
    color: white;
    border: none;
    resize: none;
    height: 34px;
    max-width: calc(100% - 70px);
    border-radius: 5px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
}

  .status-textarea::placeholder {
    color: #5c5d71;
  }
  
  .status-actions {
    display: flex;
    padding: 10px 20px;
  }
  
  .status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .status-action svg {
    width: 16px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  @media screen and (max-width: 1320px) {
    .status-action {
      width: 16px;
      overflow: hidden;
      color: transparent;
      white-space: nowrap;
    }
  }
  
  .status-share {
    background-color: #1b86f9;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 20px #1b86f9;
    cursor: pointer;
  }