.nav-link-active{
    border-bottom: 2px solid var(--red-50);
    font-weight: 600;
}

.nav-bar-item :hover{
    border-bottom: 2px solid var(--red-50);
}

.navbar-end{
    margin: 10px 10px 10px 20px;
}

.nav-bar-btn{
    margin-right:10px;
}
.search-form .wrap-sb {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.search-bar {
    height: 60px;
    /* background-color: $bg-color; */
    z-index: 3;
    position: relative;
}

.bi-search{
    font-weight: 2000;
    margin-right: 0;
}

/*
updated media 
*/

@media (min-width: 1011px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}