.banner{
    /* background-image: linear-gradient(var(--primary-100),var(--green-50)); */
    /* background-color: var(--primary-100); */
    /* background-color: var(--primary-200); */
    height: calc(100vh - var(--navbar-height));
    color: aliceblue;
    /* background: url(../../images/background/9.jpg) center bottom no-repeat; */
    background-image: linear-gradient(to bottom right, var(--primary-100),var(--green-50));
}

.bannerButtons{
    margin: 20px;
}

.bannerRow{
    height: calc(100vh - var(--navbar-height));
}

@media only screen and (max-width:991px){
    .bannerRow{
        height: 400px;
    }
}

@media only screen and (max-width:575px){
    .bannerRow{
        padding-top:30px;
    }
    .bannerRow{
        height: 600px;
        font-size:75%;
    }
    .bannerContent >h2 , .bannerContent >.bannerButtons{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .bannerContent > h4{
        text-align:center;
        font-size: 17px;
    }
}
