.footer-section{
    background-color: var(--primary-200);
    text-align: center;
    color: var(--white);
    margin-top:20px;
    padding-bottom: 20px;
}

.links > ul {
    margin: 10px;
}

.links > ul > li{
    list-style: none;
    text-align: left;
    padding-left: 15px;
}

.social-links{
    margin: 20px;
}

.social-link{
    margin: 10px;
    font-size: 30px;
    color: var(--green-50);
}

.social-link:hover{
    color: var(--white);
}