

.frgtPsswrdotp_Card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative;
  }
  
  .frgtPsswrdotp_Container{
    height: 100vh;
  }
  
  body {
    background: #eee;
  }
  
  .frgtPsswrdotp_MobileText {
    color: #211e1eb8;
    font-size: 15px;
  }
  
  .form-control {
    margin-right: 12px;
  }
  
  .form-control:focus {
    color: #212428;
    background-color: #fff;
    border-color: #c57bcb;
    outline: 0;
    box-shadow: none;
  }
  
  .frgtPsswrdotp_cursor {
    cursor: pointer;
  }