.help-privacy-terms{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 24px;
    margin-top: -40px;
    font-size: 14px;
    cursor: pointer;
}
.help-privacy-terms .link{
    color: grey;
    text-decoration: none;
}
.help-privacy-terms .link:hover{
    color: var( --black);
}
@media only screen and (max-width:1000px){
    .help-privacy-terms{
        margin-top: -20px;
    }
}
@media only screen and (max-width:514px){
    .help-privacy-terms{
        font-size: 10px;
    }
}
