/* CUSTOM CSS */

.dashboardAdmin0Page .analyticsCardRow {
  padding-top: 36px;
}

/* .dashboardAdmin0Page .lineChartStyle .card-body {
  padding: 9px;
} */

.dashboardAdmin0Page .second-row {
  margin-top: 36px;
}

.dashboardAdmin0Page .card-body .cardRow {
  padding-bottom: 18px;
}
