.dashboardAdmin0Page #content {
  padding-top: 0;
}

.dashboardAdmin0Page .wrapper {
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
}

.dashboardAdmin0Page .cardRow {
  margin-bottom: 12px;
}

.dashboardAdmin0Page .cardCol {
  padding-left: 6px;
  padding-right: 6px;
}

.dashboardAdmin0Page .title {
  margin: 8px;
}

.dashboardAdmin0Page .lineChartStyle {
  position: relative;
}

.dashboardAdmin0Page .lineChartStyle .lineChartVerticleStyle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
