body{
    background-color: rgba(244, 242, 244, 1) !important;
}
.arttic-logo{
    justify-content: center!important;
  
    margin-bottom: 20px;
}
/* .SignInPage .arttic-logo a{
    margin-left: 70px;
} */

.SignInPage .Or{
    margin-bottom: 0.5rem;
}
.SignInPage .col-4{
    justify-content: center!important;
    align-items: center;
    /* margin-top: 10px; */
}
.SignInPage .col-12{
    margin-bottom: 1rem;
}
.SignInPage .col-12 .form-label{
    margin: 0.2rem;
}
.SignInPage .col-12 .fcup{
    border-radius: 10px;
    font-weight: 100;
    color: #F4F2F4;
    font-size: small;
}
.SignInPage p{
    margin-bottom: 0;
}
.SignInPage .col-12 .error-msg{
    color:red;
    font-size: small;
}
.SignInPage .col-12 .text-end{
    margin-bottom: 0;
}
.SignInPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.SignInPage .title{
    padding-bottom: 5%;
}

.SignInPage .theme{
    color: rgba(132, 39, 226, 1);
}

.SignInPage .btnlog{
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.SignInPage .signup{
    margin-top: 5%;
}

.SignInPage .icon{
    padding-right: 15px;
}
.SignInPage .mb-3{
    margin-bottom: 0.3rem!important;
}
/* .SignInPage .form-check{
    margin-left: 0.8rem;
} */
@media only screen and (max-width:768px){
    .SignInPage .signup{
        font-size: 10px;
    } 
    .SignInPage .col-4{
        width: 50%;
    }
}
@media only screen and (max-width:514px){
    .SignInPage .col-4{
        width: 80%;
        margin-top: 30px;
    }
}
