@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css");


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 81, 81); 
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* colors */
  --primary-50: #cd92ff;
  --primary-100: #8427e2;
  --primary-200: #360065;

  --white:#F9F9F9;

  --black:#000;

  /* green */
  --green-50: #33ff94;

  /* red */
  --red-50: #ff6374;

  /* blue */
  --blue-50: #72c9f8;
  --blue-100:blue;

  /* navbar size */
  --navbar-height: 74.14px;

  /* banner Image */
  --bannerImage-height: 301.34px;
  --bannerImage-width: 536px;

}

.btn-primary{
  background: var(--primary-100);
  border: 1px solid var(--primary-100);
}

.btn-secondary{
  background: none;
  color: var(--primary-100);
  border: 1px solid var(--primary-100);
}
.btn-next{
  background: var(--green-50);
  border: 1px solid var(--green-50);
}


.btn-main-primary, .btn-main-secondary {
  margin: 5px;
  padding: 10px;
  font-weight: 600;
}

.btn-main-primary{
  width:200px;
  background: var(--green-50);
  border: 1px solid var(--green-50);
  /* box-shadow: 5px 5px 1px rgba(100,100,100,0.3); */
}

.btn-main-secondary{
  width:200px;
  background: var(--white);
  border: 1px solid var(--white);
}

.btn-primary:hover{
  background: var(--white);
  color: var(--primary-100);
  border: 1px solid var(--primary-100);
}

.btn-secondary:hover{
  background: var(--primary-100);
  border: 1px solid var(--primary-100);
}
.btn-next:hover{
  background: var(--white);
  color: var(--green-50);
  border: 1px solid var(--green-50);
}

.btn-main-primary:hover{
  color:var(--black);
  background: var(--white);
  border: 1px solid var(--green-50);
}

.btn-main-secondary:hover{
  background: var(--green-50);
  border: 1px solid var(--green-50);
}