body {
    background-color: #F5F6F7;
}

@media only screen and (max-width:991px){
    .sidebar-col {
        visibility: hidden;
        width: 0;
        padding: 0;
    }
}


@media only screen and (max-width:768px){
    .feedBack{
        max-width:700px;
    }
    .sidebar-col {
        visibility: hidden;
        width: 0;
        padding: 0;
    }

    .feed-container{
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:647px){
    .col-advertisment{
        visibility: hidden;
        width: 0;
        padding: 0;
    }
    .feed-container{
        width: 335px;
    }
}
