.CreatorTemplate .wrapperCreator {
    padding: 2% 3% 3% 3%;
  }

  .admin0Template .contentCreator {
    width: 100%;
    margin-left: 36px;
  }

@media only screen and (max-width:991px){
    .CreatorTemplate .sidebar-col {
        visibility: hidden;
        width: 0;
        padding: 0;
        background-color: red;
    }
}

@media only screen and (max-width:768px){
    .CreatorTemplate.feedBack{
        max-width:700px;
    }
    .CreatorTemplate.feed-container{
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:647px){
    .CreatorTemplate.col-advertisment{
        visibility: hidden;
        width: 0;
        padding: 0;
    }
    .CreatorTemplate.feed-container{
        width: 335px;
    }
}