.main-container {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
   }
   
   .profile {
    position: relative;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
    z-index: 1;
   }
    .profile-cover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 4px;
    }
   
   .profile-menu {
    position: absolute;
    bottom: 0;
    padding-left: 200px;
    background: #fff;
    width: 100%;
    display: flex;
    border-radius: 0 0 4px 4px;
   }
   
   .profile-menu-link {
    padding: 20px 16px;
    color: #1b1d2e;
    transition: 0.3s;
    cursor: pointer;
   }
    .profile-menu-link.active,
    .profile-menu-link:hover {
     color: #fff;
     background-color: #1b1d2e;
     border-bottom: 3px solid #1b1d2e;
    }
   
   
   .profile-avatar {
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    bottom: 16px;
    left: 24px;
   }
   
   .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1b1d2e;
   }
   
   .profile-name {
    margin-left: 24px;
    margin-bottom: 24px;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    
   }