.WalletConnectPage .wallet-card{
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
.WalletConnectPage .icon{
    padding-right: 15px;
}
.WalletConnectPage .btnlog{
    margin-bottom: 5%;
    border-radius: 10px;
}
.WalletConnectPage .Or{
    margin-bottom: 0.5rem;
}
.WalletConnectPage .col-12{
    margin-bottom: 1rem;
}
.WalletConnectPage .col-12 .form-label{
    margin: 0.2rem;
}
.WalletConnectPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.WalletConnectPage p{
    margin-bottom: 0;
}
.WalletConnectPage .col-12 .error-msg{
    color:red;
    font-size: small;
}

.WalletConnectPage .wallet {
    background-color: rgba(51, 255, 148, 1);
    color: rgb(0, 0, 0);
}

.WalletConnectPage .wallet:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 255, 148, 1);
    border: 1px solid rgba(51, 255, 148, 1);
}

.WalletConnectPage .card-update{
    border: rgba(244, 242, 244, 1);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.WalletConnectPage .col-12 .wallet{
    background-color: var(--green-50);
    color: black;
}
.WalletConnectPage .alert-danger{
    display: none;
}
.WalletConnectPage .authenticationFooter{
    bottom: 0;
}
@media only screen and (max-width:768px){
    .WalletConnectPage .col-4{
        width: 50%;
    }
}
@media only screen and (max-width:514px){
    .WalletConnectPage .col-4{
        width: 83%;
    }
    .chcklbl{
        font-size: 14px;
    }
    .terms-conditions{
        display: flex;
        flex-direction: row;
    }
}

